@charset "UTF-8";

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

body {
  font: 400 16px/1.5 '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2c313a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  max-width: 1020px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* Clearfix */
.wrapper::after,
.footer-col-wrapper::after {
  display: table;
  clear: both;
  content: '';
}

.site-header {
  margin: 80px 0 0;
  text-align: center;
}

.site-title {
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: 1000;
  line-height: 56px;
  color: #fff;
  letter-spacing: -1px;
}

.site-footer {
  margin-bottom: 50px;
  text-align: center;
}

.tabs {
  margin: 40px 0 0;
}

.tab-item {
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  color: #666;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #666;
  transition: all 0.3s ease-in;
}

input[name='tab-item'] {
  display: none;
}

.tab-content {
  display: none;
  padding: 40px;
  overflow: hidden;
  clear: both;
}

#tab1:checked ~ .panel #panel1,
#tab2:checked ~ .panel #panel2 {
  display: block;
}

.tabs input:checked + .tab-item {
  color: #fff;
  border-bottom: 2px solid #bc7efa;
}

.scale-img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  transition: 0.1s;
}

.scale-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.color-sample-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.color-sample {
  min-width: 20px;
  height: 20px;
  margin: 10px;
  background: #fff;
  border-radius: 10%;
}

.color01 {
  background: #a786ff;
}

.color02 {
  background: #c25ae6;
}

.color03 {
  background: #875faf;
}

.color04 {
  background: #87ff5f;
}

.color05 {
  background: #9cda7c;
}

.color06 {
  background: #7ca8de;
}

.color07 {
  background: #db6088;
}

.color08 {
  background: #e39e74;
}

.color09 {
  background: #6e4c28;
}

.color10 {
  background: #dedc52;
}

.color11 {
  background: #cfa1ed;
}

.color12 {
  background: #bec7d1;
}

.color13 {
  background: #8784ad;
}

.color14 {
  background: #000;
  border: 1px solid #ccc;
}

/* eva01-LCL */

.color01-lcl {
  background: #ab92fc;
}

.color02-lcl {
  background: #ce67f0;
}

.color03-lcl {
  background: #875faf;
}

.color04-lcl {
  background: #87ff5f;
}

.color05-lcl {
  background: #9cda7c;
}

.color06-lcl {
  background: #85b0e6;
}

.color07-lcl {
  background: #db6088;
}

.color08-lcl {
  background: #e39e74;
}

.color09-lcl {
  background: #6e4c28;
}

.color10-lcl {
  background: #dedc52;
}

.color11-lcl {
  background: #cfa1ed;
}

.color12-lcl {
  background: #ccd2d9;
}

.color13-lcl {
  background: #a1a0ad;
}

.color14-lcl {
  background: #242629;
  border: 1px solid #ccc;
}
