@charset "UTF-8";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

body {
  font: 400 16px/1.5 '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  background: #1c1c1c;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  max-width: 1020px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* Clearfix */
.wrapper::after,
.footer-col-wrapper::after {
  display: table;
  clear: both;
  content: '';
}

.site-header {
  margin: 80px 0 0;
  text-align: center;
}

.site-title {
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: 1000;
  line-height: 56px;
  color: #fff;
  letter-spacing: -1px;
}

.site-footer {
  margin-bottom: 50px;
  text-align: center;
}

.tabs {
  margin: 70px 0 0 0;
}

.tab_item {
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  margin-bottom: 40px;
  line-height: 40px;
  color: #666;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #666;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

input[name='tab_item'] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px;
  overflow: hidden;
  clear: both;
}

#tab1:checked ~ .panel #panel1,
#tab2:checked ~ .panel #panel2 {
  display: block;
}

.tabs input:checked + .tab_item {
  color: #fff;
  border-bottom: 2px solid #bc7efa;
}

.scale-img {
  margin-bottom: 20px;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  transform-origin: 50% 25%;
}

.scale-img:hover {
  cursor: pointer;
  transform: scale(1.15, 1.15);
}

.color_sample_wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.color_sample {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: #fff;
  border-radius: 10%;
}

.color01 {
  background: #9d78ff;
}

.color02 {
  background: #c25ae6;
}

.color03 {
  background: #cfa1ed;
}

.color04 {
  background: #9cda7c;
}

.color05 {
  background: #87ff5f;
}

.color06 {
  background: #7ca8de;
}

.color07 {
  background: #d99145;
}

.color08 {
  background: #db6088;
}

.color09 {
  background: #878787;
}

.color10 {
  background: #bec7d1;
}

.color11 {
  background: #6e4c28;
}

.color12 {
  background: #875faf;
}

.color13 {
  background: #1c1c1c;
  border: 1px solid #fff;
}

.color01_lcl {
  background: #bc7efa;
}

.color02_lcl {
  background: #c993ff;
}

.color03_lcl {
  background: #875faf;
}

.color04_lcl {
  background: #76ff03;
}

.color05_lcl {
  background: #aeea00;
}

.color06_lcl {
  background: #90b1fd;
}

.color07_lcl {
  background: #ef5350;
}

.color08_lcl {
  background: #ffb300;
}

.color09_lcl {
  background: #ffea00;
}

.color10_lcl {
  background: #c0ca33;
}

.color11_lcl {
  background: #9e9e9e;
}

.color12_lcl {
  background: #d7d1dc;
}

.color13_lcl {
  background: #1c1c1c;
  border: 1px solid #fff;
}
